version: '3'

services:
  web:
    image: openconceptlab/oclweb3:${TAG-dev}
    build:
      context: .
      target: build
      args:
        NODE_ENV: development
        PRIVATE_PACKAGES_GIT:
    ports:
      - "4002:4002"
      - "4003:35729"
      - "6007:6006"
    restart: on-failure
    volumes:
      - .:/app:z
