main.content {
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
    height: auto;
}
div.rounded-input {
    border-radius: 100px;
    > div {
        border-radius: 100px;
    }
    fieldset {
        border: none;
    }
}
.flex-vertical-center {
    display: flex;
    align-items: center;
}
.padding-0 {
    padding: 0 !important;
}
.no-anchor-styles {
    color: inherit;
}
.no-anchor-styles:hover, .no-anchor-styles:focus {
    color: inherit;
    text-decoration: none;
    outline: none;
}
.default-button-styles, .default-button-styles:hover, .default-button-styles:focus {
    text-decoration: none;
    color: #FFF;
}
.highlight-search-results {
    font-weight: bold;
}
div.split {
    transition: width 195ms ease;
}

div.split-appear {
    transition: width 0.2s ease, opacity 0.3s ease 0.1s;
}
