div.rounded-input {
    border-radius: 100px;
    > div {
        border-radius: 100px;
    }
}
.flex-vertical-center {
    display: flex;
    align-items: center;
}
.padding-0 {
    padding: 0 !important;
}
.no-anchor-styles {
    color: inherit;
}
.no-anchor-styles:hover, .no-anchor-styles:focus {
    color: inherit;
    text-decoration: none;
}
.default-button-styles, .default-button-styles:hover, .default-button-styles:focus {
    text-decoration: none;
    color: #FFF;
}
